[2015-08-27 11:26] TrySpace opened #2 "Option '--livereload' not recognized (ignoring)."
I get:

     Option '--livereload' not recognized (ignoring).

When adding it as a plugin, (following the 2 steps) I also tried the the project hook but its not executing after prepare either.

I would like to try the third option, but there's no examples yet. Should I run changeHost.js in my main script or somewhere else? And do I need the browserSyncServer.js perse?

It would be great if I could

[2015-08-27 14:16] axemclion commented on #2
It is actually `-- --live-reload`. Note the double `-- --`. This is required sine just having a `--` is not passed by Cordova down to the plugins.

I am working on a blog post with examples to make the third option more explicit. I am guessing that this option could be the most popular.

[2015-09-01 06:44] axemclion commented on #2
@TrySpace Do you have an example of your gulp script with browserwatch ? I could build my example from that.

[2015-09-05 22:44] csantanapr opened #3 "Files not being watch when --ignore not passed, no fixed on npm, but fixed in git"
Problem is fixed in copy in git but the code published on npm is different.

on NPM 0.0.3
[code]

when opts.ignore is undefined watch doesn't work,
code in git repo is fixed, just need to upload to npm

[code]

[2015-09-05 23:58] axemclion commented on #2
Closing due to lack of response. Please reopen this issue if needed.

[2015-09-05 23:58] #2 closed

[2015-09-06 00:00] axemclion commented on #3
Fixed in 9e20d4cd74da017f509b2cba0a90258d511a5c57. Also pushed to npm.

[2015-09-06 00:00] #3 closed

[2015-11-10 03:43] roblav96 opened #5 "opts.forEach is not a function"
Following your video directly and I can't do
[code]
It says:
[code]

Any ideas?

[code]

[2015-11-10 04:19] roblav96 commented on #5
Looks like it's coming from when I execute
[code]
Here's the file:
[code]
[code]
I'm gonna keep trying to figure this out. Any help would be amazing!

[2015-11-10 04:22] roblav96 commented on #5
Here's some more info:
[code]

[2015-11-10 04:38] roblav96 commented on #5
Commenting out these lines got it working:
[code]
Excellent plugin!!! This works amazingly!

[2015-11-10 04:50] roblav96 commented on #5
Still broken though after the second reload.
[code]
Seems like the entire browsersync server creates another instance when a file is changed.

[2015-11-10 05:40] axemclion commented on #5
Will look at it now...

[2015-11-10 05:43] axemclion commented on #5
Can you help me understand your project setup? Are you adding this as a plugin, or as a hook ?

[2015-11-10 13:20] roblav96 commented on #5
I'm adding this as a plugin. I'm following your video step by step.

[2015-11-10 13:21] roblav96 commented on #5
I'm going to try and play around with adding as a hook.

[2015-11-10 13:30] roblav96 commented on #5
Might another option be setting all this up manually?

[2015-11-10 13:42] roblav96 commented on #5
Are there any global dependentcies I need installed?

[2015-11-10 16:05] roblav96 commented on #5
Would you like to use teamviewer sometime? I'm in Boston, MA USA

[2015-11-10 16:23] axemclion commented on #5
Sure, we could do that sometime today. I am in PST. Weird that the plugin does not work. It should "just work". I will look in to see if there is an error in this code.

[2015-11-10 17:01] roblav96 commented on #5
I'm free whenever you are.

I'll be in this chat room, channel "cordova"
http://webchat.freenode.net/

[2015-11-11 07:11] roblav96 commented on #5
## FIXED IT - with improvements

[2015-11-12 03:39] axemclion commented on #5
I fixed this issue here - https://github.com/nparashuram/cordova-plugin-browsersync/commit/4b8f98a5a87e0e8707198b4f92f5cdffec1bec23

Looks like the way I was getting options from the command line was messed up - i thought context.opts.options should work, but look like there is another argv option there. This is needed so that the plugin is activated only when you call it with `-- --live-reload` (

[2015-11-12 18:24] roblav96 commented on #5
Interesting. I'll have to try this out as soon as I get home. Thank you!!!

[2015-11-13 10:38] pke opened #6 "Support for Windows targets"
Does it work with Windows targets?

[2015-11-13 16:02] axemclion commented on #6
At the moment, no. Would love a PR supporting Windows though.

[2015-11-13 16:37] pke commented on #6
I had hoped at MS work people who would give that a thought ;)
What's so different on the Windows target that it does not work right out of the box?

[2015-11-16 14:31] jgluhov opened #7 "Having opts.forEach error"
ERROR running one or more of the platforms: TypeError: opts.forEach is not a function
You may not have the required environment or OS to run this project

[2015-11-16 14:45] jgluhov commented on #7
Sorry Everything is fine. But I have spent a lot of time to get known how to run your plugin. And I have an success after this command cordova run -- --live-reload --ignore=lib/**/*.*... Command like in your video just cordova run doesn't run browser sync...

[2015-11-16 16:08] axemclion commented on #7
I think the video is a little outdated - I have made many changes in the library. Maybe I could document that in the video. is there something in the README that we should change?

[2015-11-16 16:08] #7 closed

[2015-11-16 16:50] jgluhov commented on #7
Parashuram could you help me. I'm happy to run your plugin. but now I want
to debug in chrome develper tool my app. May be you recommend me anything
to make my dream come true ?

On Mon, Nov 16, 2015 at 7:08 PM, Parashuram N <notifications@github.com>
wrote:

[2015-11-18 14:45] jgluhov opened #8 "Error: gap_init:2"
This alert has shown up to me after reloading app or update data and browser-sync update my page what should I do to remove it
![2015-11-18 17-44-22 iphone 6 - iphone 6 ios 9 1 13b137](https://cloud.githubusercontent.com/assets/3243918/11243956/27e2274c-8e1c-11e5-94a4-d9aa3eaeeb18.png)

[2015-11-18 16:07] axemclion commented on #8
Looks like cordova.js is not loaded properly. Can you give me a little more detail on how you got to this error ?

[2015-11-18 16:11] jgluhov commented on #8
Parashuram i run command
cordova run ios -- --live-reload --ignore=lib/**/*.*
see Iphone 6 and when I change any data in www after update I saw this
error. I can give you my project

On Wed, Nov 18, 2015 at 7:07 PM, Parashuram N <notifications@github.com>
wrote:

[2015-11-18 16:24] axemclion commented on #8
Could be an error here - https://github.com/nparashuram/cordova-plugin-browsersync/blob/master/lib/pluginHook.js#L34

Basically, when you update any file, `cordova prepare` run again. Looks like this is messing up the built project.

[2015-11-18 16:31] jgluhov commented on #8
I enter this "cordova build" command before "cordova run ios --
--live-reload --ignore=lib/**/*.*" and nothing has changed...

On Wed, Nov 18, 2015 at 7:24 PM, Parashuram N <notifications@github.com>
wrote:

[2015-11-18 16:57] jgluhov commented on #8
After make some changes in console I see several Browsers Reloading 3-4 ...
? Is it right ?

On Wed, Nov 18, 2015 at 7:24 PM, Parashuram N <notifications@github.com>
wrote:

[2015-12-03 20:18] asselin commented on #6
PR submitted

[2015-12-03 22:52] axemclion commented on #6
@asselin You mean this PR is for getting live-reload working on a Windows development environment, not for WIndows 10 apps, right ?

[2015-12-04 00:02] asselin commented on #6
@axemclion Yes, correct.  Looks like I may have misunderstood this issue; if the issue means that the plugin doesn't work for Windows targets, I haven't tried that at all.  What I've fixed and tested is browsersync for an Android target on Windows.

I think my PR is probably necessary to get a Windows target working, but I don't know if it's sufficient (and haven't tried it).

Sorry for the confus

[2015-12-04 00:30] axemclion commented on #6
@asselin - that makes sense. I will merge the PR so that this tool works on Windows also

[2015-12-09 06:35] axemclion commented on #5
@roblav96 Closing this issue as there is no more activity on this required. Please re-open if this issue is still not resolved.

[2015-12-09 06:35] #5 closed

[2015-12-09 06:36] axemclion commented on #6
@pke I just checked the support for Windows 10, and looks like it is a little harder than I anticipated. The issue is that you apparently cannot redirect the webview to an external domain without user consent. I was not able to find a way around that. This issue makes the implementation for Windows harder.

[2015-12-09 12:00] roblav96 commented on #5
Ok thanks man!

[2015-12-09 15:00] axemclion commented on #8
@jgluhov Has this problem been fixed ? Are you still having this issue ?

[2015-12-09 18:43] jgluhov commented on #8
Yes I have.

On Wed, Dec 9, 2015 at 6:00 PM, Parashuram N <notifications@github.com>
wrote:

[2015-12-09 19:23] axemclion commented on #8
@jgluhov Sorry, did not understand your reply. Did you mean that you are still having this issue, or that you have solved the problem ?

[2015-12-14 08:07] jgluhov commented on #8
Hey I've recorded a video for you.

On Wed, Dec 9, 2015 at 10:23 PM, Parashuram N <notifications@github.com>
wrote:

[2015-12-20 21:09] axemclion commented on #8
@jgluhov Did you mean to share the video in your comment? I don't seem to see the video in this issue.

[2015-12-21 16:43] jgluhov commented on #8
---------- Forwarded message ----------
From: EVGENY GLUKHOV <jgluhov@gmail.com>
Date: Mon, Dec 14, 2015 at 11:07 AM
Subject: Re: [cordova-plugin-browsersync] Error: gap_init:2 (#8)
To: nparashuram/cordova-plugin-browsersync <
reply@reply.github.com

Hey I've recorded a video for you.

On Wed, Dec 9, 2015 at 10:23 PM, Parashuram N <notifications@github.com>
wrote:

[2015-12-21 23:37] axemclion commented on #8
@jgluhov Looks like there could be a problem when you are replying via email client. I am still not able to see the video.

[2015-12-22 08:17] jgluhov commented on #8
How can I send you a video file ?

On Tue, Dec 22, 2015 at 2:37 AM, Parashuram N <notifications@github.com>
wrote:

[2015-12-22 17:08] axemclion commented on #8
@jgluhov You could upload it to something like dropbox, or youtube and send a link ?

[2015-12-23 08:34] jgluhov commented on #8
Ok I will do it

On Tue, Dec 22, 2015 at 8:08 PM, Parashuram N <notifications@github.com>
wrote:

[2015-12-23 08:36] jgluhov commented on #8
https://www.dropbox.com/s/jcjh0znor6i4lkg/14%20Dec%202015%2011_04_52%20AM.m4a?dl=0

On Tue, Dec 22, 2015 at 8:08 PM, Parashuram N <notifications@github.com>
wrote:

[2015-12-23 08:37] jgluhov commented on #8
:) It's audio)) Just a moment I will make a video)

On Wed, Dec 23, 2015 at 11:36 AM, EVGENY GLUKHOV <jgluhov@gmail.com> wrote:

[2016-01-22 10:46] tomchambers2 opened #11 "Any change seems to spawn infinite '[BS] Reloading Browsers...' logs in terminal"
It registers changes, but seems to keep on reloading the browser:

[code]

Is it waiting for a response from the phone browser? This is happening on an iPhone 5s and in the xcode emulator.

[2016-01-25 15:06] aoki-sora commented on #11
Same issue with Android 5.1.

[2016-02-01 16:10] axemclion commented on #11
Looking into this now

[2016-02-10 17:38] asselin opened #12 "Use common npm sub-module for the utility functions needed for browsersync on cordova"
I recently factored out the utility functions needed to enable browersync on cordova into a separate github repo and npm module (https://github.com/PointSource/cordova-browsersync-primitives).  These are the functions to add CSP, fix ATS, etc.  I did this because I need these functions for a project I'm working on, and I know there are also 2 existing projects that also use them (https://github.co

[2016-02-13 18:00] axemclion commented on #12
@asselin +1. This module was written before TACO has the browser-sync implementation. We also have another implementation [https://github.com/omefire/cordova-plugin-livereload/](https://github.com/omefire/cordova-plugin-livereload/) that is pretty similar.

I think we should deprecate the others and have just one implementation of browser sync.

/cc @omefire

[2016-02-15 18:36] asselin commented on #12
@axemclion According to the README on cordova-plugin-livereload, it's been deprecated and folded into TACO.  I'm going to work on a PR for TACO for the issue I opened there (https://github.com/Microsoft/TACO/issues/258).  Do you want me to submit one for this issue too?

[2016-02-15 21:14] omefire commented on #12
+1

[2016-02-16 06:21] mnasyrov commented on #8
I faced with the similar issue too when I run `cordova run browser -- --livereload` and opened `http://localhost:3000` after that.
Also I noticed in logs that the browser-sync serves android and ios assets:
[code]
Maybe the issue is related with serving incorrect platform assets?

[2016-02-19 14:49] HansPeterIngo opened #13 "browsers aren't refreshing automatically"
I have the same problem already reported here:

http://stackoverflow.com/questions/35117769/cordova-plugin-browsersync-not-refresh-automatically

I am using cordova-cli version 6.0.0.

browsersync admin panel is running on localhost:3001. It tells me that the port for local connections is 3000, nevertheless there are no sites available on port 3000 but 8000. Is this the problem?

[2016-02-20 20:42] heliomsolivas commented on #13
Same here.

[2016-02-22 21:04] asselin commented on #12
Starting work on this today

[2016-02-23 15:19] asselin commented on #12
@axemclion How much should I worry about the https://github.com/nparashuram/virtual-device-wall project relying on this project?  Is it still maintained?  Do you care if updates to this project break that one?

[2016-02-23 17:42] axemclion commented on #12
@asselin I still do maintain that, but if you do break, I think I can fix it.

[2016-02-25 23:17] DanielJoyce commented on #11
Yeah, I get reloading browsers spam, but eventually stops

[2016-03-01 16:10] asselin commented on #12
@axemclion Have you had a chance to review the PR?  If there's anything blocking merging it, let me know what I can do to help.  Thanks!

[2016-03-04 01:06] jrimclean commented on #13
I have the same problem. However, it is possible to just manually refresh the page to view the changes.

[2016-03-04 20:20] axemclion commented on #12
Closing this issue since this was merged.

[2016-03-04 20:20] #12 closed

[2016-03-13 20:38] JackSzwergold commented on #13
Add my voice to this “Why the heck isn’t this working?” choir. My post [detailing my specifics on Stack Overflow here](http://stackoverflow.com/questions/35975086/why-is-the-cordova-browser-sync-plugin-not-working-on-a-clean-new-apache-cordov).

[2016-03-14 23:22] axemclion commented on #13
@HansPeterIngo @JackSzwergold @heliomsolivas @jrimclean - I am planning to retire this project in favor of [Taco-livereload](https://github.com/Microsoft/TACO/tree/master/src/taco-livereload). That is also based on pretty much the same code, and I am now a PM on that project.
That project will also have more devs working on it, so will have much more support as an official project.

Would that ful

[2016-03-14 23:23] axemclion commented on #11
@DanielJoyce @tomchambers2 @aoki-sora   - I am planning to retire this project in favor of Taco-livereload. That is also based on pretty much the same code, and I am now a PM on that project.
That project will also have more devs working on it, so will have much more support as an official project.

Would that fulfill your needs ? Are there anything that this project has, that taco-livereload does

[2016-03-14 23:24] axemclion commented on #8
@mnasyrov @jgluhov  I am planning to retire this project in favor of Taco-livereload. That is also based on pretty much the same code, and I am now a PM on that project.
That project will also have more devs working on it, so will have much more support as an official project.

Would that fulfill your needs ? Are there anything that this project has, that taco-livereload does not have ?

[2016-03-14 23:47] rixo commented on #8
Hi! Can you point to some documentation for taco-livereload? I didn't know taco, I just found about it in your comment, but it seems to me that it isn't so easy to integrate in an existing project, is it? The plugin approach of this project and the focus on the browser-sync concern is far more appealing to me.

[2016-03-14 23:58] axemclion commented on #8
@rixo Oooh -- that is an ugly error. There is no reason  that taco-livereload should need that. Maybe we could see if we release taco-livereload as a standalone utility instead.

Taco (stands for Tools for Apache Cordova) and has a bunch of utilities on top of Cordova - including things like a newer version of Ripple, way to install  requirements, etc.

[2016-03-15 00:23] jrimclean commented on #13
@axemclion I have allergies to Microsoft, so I doubt I will move to Taco. Thanks for creating this project. Hopefully someone else will pick up the torch.

[2016-03-15 00:40] axemclion commented on #13
@jrimclean I understand if you don't want to explain, but is there a reason why using taco is an issue if it is a Microsoft product ? Taco is open source and is MIT licensed. You could even fork taco's livereload and continue using that.

Is there anything I could help with ? As a PM on the product, I genuinely want to help and ensure that folks have a good live-reload solution. I created this rep

[2016-03-15 15:47] DanielJoyce commented on #11
My only concern is that it work on plain Cordova, and not TACO, which we do not use. If I can use the plugin on plain Cordova then that is fine.

[2016-03-17 12:45] JackSzwergold commented on #13
@axemclion Can you provide links to a simple “let’s get Taco live reload” up and running. I’ll see if that works… And it might work…

But I generally avoid Microsoft projects regardless of licensing because their historic business practice tactic has been to adopt a standard, grow an audience and then “expand” the product to their advantage forcing adopters to do… Something not so great to continu

[2016-03-18 19:41] axemclion commented on #13
@JackSzwergold To use live-reload, you will run `taco run android --livereload` - that should do the job.
I am not saying that I play to abandon the project - depending of if people are using it and need me to maintain it, I will.

I was not sure how many people use it, and was not sure if it was worth maintaining it as a separate project.

[2016-03-18 23:33] jrimclean commented on #13
@axemclion Look up "embrace, extend, extinguish". It was a core part of Microsoft's strategy in the 1990's. That behavior and what they tried to do to Linux via the SCO lawsuits, not to mention the current privacy issues with Windows 10, has irreparably tarnished their reputation in my eyes. I don't trust MS and I refuse to use their frequently inferior products wherever possible.

I had a look at

[2016-03-20 14:41] JackSzwergold commented on #13
@axemclion Look at @jrimclean’s answer. Your concept of ease of use misses the point: Microsoft’s behavior in the realm of open-source software has been questionable for years. Heck, please reread my post to fully absorb what I am saying specifically about Microsoft as well. So that said, I would have preferred to have used your original Cordova Browser Sync plugin since it was simple and works. I

[2016-03-20 16:22] axemclion commented on #13
Looking at the answers, i think it makes sense to keep maintaining this plugin. I will look at this issue something next week. In the meantime, if you fine folks are able to investigate it, would love a PR. If you folks are also inclined to help with maintaining it, adding features like Windows support, I would gladly add you as committers to the project.

[2016-04-17 02:07] axemclion commented on #13
Looking at the stack overflow comments, looks like this is an issue with the browser platform only. I tested this on the iOS and Android platforms, and it seems to work great.

The browser platform is a little tricky, since it already opens up a server at 8000. For the plugin to work, I would have to do additional work where we proxy the server on 8000 via browser-sync. I don't think you really ha

[2016-04-17 04:42] jvnni opened #15 "Plugin fails to start correctly"
After running `cordova run ios -- --live-reload` brower-sync seems to start ok but right after an error is logged and the server fails to start.

[code]

<img width="770" alt="screen shot 2016-04-17 at 01 37 55" src="https://cloud.githubusercontent.com/assets/437205/14585093/9439550e-043d-11e6-94a6-9c71104117cd.png">

[2016-04-23 02:09] axemclion commented on #13
This plugin only supports __iOS__ and __Android__ platforms only. I had not actively supported the browser platform. However, thanks to #16 , we will have support for it.

On the other hand, `cordova emulate browser` should do that already. Is there are reason you want this plugin to do the live reload, instead of using `cordova emulate browser` ?

[2016-04-23 02:14] axemclion commented on #15
@jvnni looks like there was an unknown tag in the plist file. Can you paste your plist file here ?

P.S: I love the high resolution screenshot :)

[2016-04-23 03:01] jrimclean commented on #13
@axemclion Using Cordova to emulate the browser is possible, however, ever time a change is made we must exit and restart the process (and thus Chrome). Just refreshing the page does not pickup the changes. This feature would definitely streamline the development process.

[2016-04-23 04:31] axemclion commented on #13
@jrimclean My bad, you are right. I was trying to run cordova with this plugin added, thats why it was doing live reload.
I will look at the PR #16 and add that functionality here.

[2016-04-30 18:02] Argurth commented on #15
Hi ! Get a similar problem, to got it working, I must remove ios from the cordova platforms
It's not a problem for developpement, I can develop on android only, and then, re-add ios but it's quite annoying because I have to reconfigure some xcode stuff each time I want to build my app
Could you look into it ? :)

PS : Here is a screenshot
![capture d ecran 2016-04-30 a 19 57 24](https://cloud.gith

[2016-05-17 04:06] zyf0330 opened #18 "how to change host"
I `run android` with `-- -- live-reload`, but address at android still show localhost and thing can't work normally. How to change host ?

[2016-05-18 07:05] zyf0330 commented on #18
I just saw the video at the home page, and found that you have the extra WIFI address which is a LAN address in `localhost:3001` page. But I don't have it at windows 10 system and run with android target.

[2016-05-20 03:43] zyf0330 commented on #18
I add `online: true` into options, and the External Address appears. But it is still abnormal on Android. So disappointed.

[2016-05-20 04:04] axemclion commented on #18
@zyf0330  I am looking at this during the weekend. Will be working on stabilizing Android, iOS, Browser and Windows.

[2016-05-20 04:05] zyf0330 commented on #18
OK！

On Fri, May 20, 2016, 12:04 Parashuram N <notifications@github.com> wrote:

--

追随

[2016-05-31 08:23] olegdizus opened #19 "reloading is very slow"
Each app reloading takes 60-200 secs.
Platform: Android
Browser: Chrome, version: 50.0.2661.86
Tested on many devices with same result.

[2016-06-30 04:24] aguvel opened #20 "ios emulator problem"
Hi guys,
after run command "cordova run ios --emulator -- --live-preview"

My example app, disconect from Browser Sync. See pic;

![captura de tela 2016-06-30 01 15 32](https://cloud.githubusercontent.com/assets/5919716/16476764/f2a3a33a-3e60-11e6-9e7b-3bc87f2ee48d.png)

But, when connect my device, all running ok!

Any idea?

[2016-07-21 14:11] #6 closed

[2016-07-29 00:33] mdumouchel opened #21 "Couldn't get this to work"
Hello Everyone,
Trying to figure out what I'm doing wrong but  i can't get this plugin to work at all.  I did tried the first installation and when I do the --live-reload

`[BS] Access URLs:
 -------------------------------------
       Local: http://localhost:3001
    External: http://
 -------------------------------------
          UI: http://localhost:3002
 UI External: http://
 --------------

[2016-08-04 15:18] nor-bu commented on #21
Same here

[2016-08-04 15:44] nor-bu commented on #20
Same here

[2016-08-08 15:28] mdumouchel commented on #21
I was able to get this to working when I had an iphone connected.

[2016-09-23 21:00] yugen commented on #20
+1

[2016-10-29 02:13] #13 closed

[2016-11-06 13:26] rburgst commented on #15
Have the same problem. It seems that this is caused by the patcher going too far and also scanning files in the `platforms/ios/HelloCordova.xcarchive/` folder. These are binary plist files which cannot be parsed by the plain text xml parser.

[2016-11-06 15:49] #15 closed

[2016-11-25 12:46] TombolaShepless commented on #18
@axemclion any word on this?

[2016-11-25 17:24] axemclion commented on #18
@TombolaShepless I have not gotten time to work on this. I would appreciate a pull request to get this fixed.

[2016-11-29 14:56] zyf0330 commented on #18
Sorry, but I cannot help. I am not in it.

[2016-11-30 20:04] davidalee commented on #11
It seems that livereload on TACO only works for Ionic v1 projects. Does that mean those of us using just Cordova are out of luck?

[2016-11-30 20:05] davidalee commented on #21
It seems that this project is no longer being actively maintained. Anyone have any alternatives to enable livereload in Cordova?

[2016-11-30 23:32] axemclion commented on #21
@davidalee While I am not actively maintaining it, I am happy to merge in pull requests if you have fixes for the issues.

[2016-11-30 23:34] axemclion commented on #11
@davidalee Note that the  TACCO CLI is now deprecated - https://github.com/microsoft/taco.

cc @jmatthiesen, who works on the Taco part and should be able to give you some more clarity.

[2016-12-01 02:39] davidalee commented on #11
Sorry, I mistakenly referred to TACO when I meant to refer to vscode-cordova. In vscode-cordova, the `livereload` only works in the browser, and the `ionicLiveReload` is only for Ionic projects.

If there is a way for me to obtain live reloading for a Cordova application that does not use Ionic, please let me know.

[2017-01-22 18:17] arihantdaga commented on #8
Is this issue resolved ? I am still facing the same issue.

[2017-01-22 19:29] rixo commented on #8
@arihantdaga As pointed in the first comment, this error is indicative that Cordova is not loaded. And indeed, it is not loaded if you access your application directly from a browser, it is only included in the mobile build. If you setup is correct, you'll have browser-sync reloading in the app itself. Launch the app from your device or emulator, and the app webview will reload when files change.

[2017-01-23 18:04] arihantdaga commented on #8
@rixo , Thank you vey much rixo. Now i understand.
But there is also this issue that whenever i am doing this - "ionic run android -l -c". The app which is built and launched in my mobile fails to connect to the liverload server and hence always on opening my app, it shows "Unable to conenct to the server 192.168.0.116:8100" and app crashes. Although with this error i have seen some anomalies. som

[2017-01-24 10:04] rixo commented on #8
@arihantdaga I remember I had some difficulties passing this step too, but you're now in the right tracks. You're almost there I think; once you'll have figured the issue with the connection, it should work and it's pretty flawless browsersync then. Quite the difference in feedback loop, as compared as rebuilding the app with cordova each time!

Unfortunately, I don't remember how I solved this my

[2017-04-10 19:26] akash-pal opened #25 "CORS options not working"
cordova run -- --live-reload --enable-cors

Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access.

[2017-05-03 19:46] #18 closed

[2017-05-17 09:58] ChrisButterworth commented on #21
I get an issue similar to this, I know live-reload is supposed to be constantly running but once the build process runs it quits meaning it no longer reloads anything.

[2017-05-24 02:37] miguelrincon opened #28 "npm version conflict"

[2017-05-24 21:24] badpenguin opened #29 "webpack integration"
I wish to integrate this in react.
Do you have an example how to trigger the app from webpack?
I mean i've Browsersync running on webpack but the app does not respond to changes because i just used "cordova run" to start the emulator without the --live-reload option.
I need "cordova run" to quit as soon the emulator start because is webpack providing the compilation.

[2017-05-27 09:27] MichalKrakow opened #30 "Option for https"
Since there where some changes in policy and some features dont work on insecure origins it would be awesome to have some flag for using secured connection with browsersync server.

Regards.

[2017-05-27 17:40] axemclion commented on #30
@MichalKrakow Could you send in a PR for this feature ?

[2017-06-06 08:42] clChenLiang commented on #8
I also have see this affair.but not as you find that .I have place my code or project on the Node.js Server , than visit  the index.html by chrome browser on my mobile phone . Then the web has popup the panel,for that  gap_init:2.
I think that is an error that not right load the cordova.js module.

[2017-06-19 06:16] kontur opened #31 "Could not connect to the browser-sync server.."
The initial view when browser sync starts says:

[code]

On the local browser clicking either of LOCAL or EXTERNAL will successfully start to sync. ~~On my physical iOS device this worked a couple of day ago without the same above screen, but now shows this screen as well on iOS, and clicking neither of the two options does anything.~~ (Nvm, this was due to different WiFi)

Any clue what's going o

[2017-08-09 21:25] yipcma commented on #28
same issue

[2017-08-15 14:13] QuentinRoy commented on #29
Run webpack with `--watch` and make it compile the www folder, then run cordova with `--live-reload` and it should work.
Webpack will recompile your source each time its change and replace www, and browsersync will detect the change in www and update your apps.

[2017-08-15 14:22] QuentinRoy opened #33 "Installation fails"
I cannot install the plugin. It makes my cordova prepare to crash..
[code]

[2017-08-21 09:17] mzealey opened #34 "Installation failure (but plugin still works)"
This breaks the install (and hence platform add/remove), however it still works after it has installed

[code]

[2017-08-31 18:03] rodrigocnascimento opened #35 "Can't find loadash"
I'm trying to use the plugin, but I'm getting this error instead.
I also tryed some variations:
without "browser" and I've made a change in my webpack config, but it doesn't work either.

My dev env
webpack
react
browsersync
cordova

$  cordova run browser -- --live-reload
Error: Cannot find module 'lodash/object/assign'

[2017-08-31 18:06] #35 closed

[2017-08-31 18:06] rodrigocnascimento commented on #35
sorry guys, it's not related to the plugin

[2017-09-05 12:27] JackZhang1988 commented on #34
I have same issue, what do you mean 'still works'?

[2017-09-05 15:42] mzealey commented on #34
rerun it until it thinks its installed, then run it and it works as expected

[2017-09-13 06:10] masakura commented on #20
Build jobs are stopped on iOS.

I am avoiding it by booting another platforms.

[code]

[2017-09-13 06:25] masakura opened #41 "New release please"
The latest release is last year. Several functions have been committed, so I want a new release.

[2017-09-13 21:20] axemclion commented on #41
I have added @patrickbussmann as a committer on the project, he has some open PRs. Once those are merged, i will publish it to npm.

[2017-09-14 08:47] patrickbussmann commented on #41
@axemclion:

[code]

![2017-09-14 10_47_09](https://user-images.githubusercontent.com/15617021/30420533-1dc226ba-993a-11e7-9381-31667a4e28a8.png)

[2017-09-14 13:31] axemclion commented on #41
You may have to accept the invite. Shows me that the invitation is still awaiting your response.

[2017-09-14 13:43] patrickbussmann commented on #41
Ok thank you @axemclion.
@masakura I created a new version with the new features.

@axemclion maybe you can add the webhook for NPM so that it updates automatically 👍

[2017-09-14 13:43] #41 closed

[2017-09-14 13:57] axemclion commented on #41
Done - published a new version.

[2017-09-16 06:25] masakura commented on #41
Thanks! @axemclion

[2017-10-13 08:16] dpreussner opened #45 "Which plugin version to install"
Hello,

I noticed some inconsistencies in the versioning of the plugin.

According to this repository the latest version is `0.1.7` but in the npm registry the latest published version is the version `1.1.0` - which one is the correct one? The version `1.1.0` (at least for me) did not work as shown in your video.

It seems like the when running `cordova run browser -- --live-reload` it does start

[2017-10-17 01:28] LordKBX opened #46 "How to know in the app if the live mode is active ?"
did we need to look at `___browserSync___.client` ?

[2017-10-17 03:13] LordKBX commented on #46
i found myself
`if(typeof(___browserSync___) != 'undefined'){}`

[2017-10-18 11:07] igorPhelype commented on #31
Any solution?

[2017-10-18 12:03] patrickbussmann commented on #31
Can you try `adb reverse tcp:3000 tcp:3000` please and click on local then?
Thanks.

[2017-10-18 12:40] igorPhelype commented on #31
Worked

[2017-10-26 11:52] igorPhelype opened #47 "Error displayed when installing the plugin"
I run ```$ cordova platform add android```:
[code]

[2017-11-14 14:02] patrickbussmann commented on #33
Can you inform us which node / npm version do you use?

[2017-11-14 19:34] patrickbussmann commented on #30
I added a comment because your change breaks all other builds which are not working with https.
But thanks 👍

[2017-11-14 19:34] #30 closed

[2017-11-14 19:35] #29 closed

[2017-11-14 20:02] patrickbussmann commented on #45
Use 0.1.8 now

If not connecting try my comment here: https://github.com/nparashuram/cordova-plugin-browsersync/issues/31

[2017-11-14 20:02] #45 closed

[2017-11-14 20:02] patrickbussmann commented on #46
Can you try this comment from me?
https://github.com/nparashuram/cordova-plugin-browsersync/issues/31

[2017-11-14 20:02] #46 closed

[2017-11-14 20:05] patrickbussmann commented on #31
@igorPhelype sorry for delay.
I found out that there could be an issue: https://github.com/BrowserSync/browser-sync/issues/1234

Maybe you can check your console if there appears something like this.
![2017-11-14 21_03_26](https://user-images.githubusercontent.com/15617021/32802104-4fde435c-c97f-11e7-9b34-0531ee60602f.png)
[code]

I found out that this is an issue with a plugin which you maybe int

[2017-12-15 13:22] danielehrhardt opened #48 "Update NPM Package"
Please Update the npm package with npm publish
the latest Version is 1.1.0 --> 2017-09-14 ('1.1.0': '2017-09-14T13:56:44.866Z')
but in git the latest version is 0.1.8

![image](https://user-images.githubusercontent.com/19570043/34043946-57b67536-e1a3-11e7-8055-df87bb994902.png)

[2018-01-14 06:27] al-ec opened #49 "cordova-plugin-browsersync breaks literally *everything*."
Love this plugin, but had a nightmare experience with it where it directly forced me to uninstall/reinstall Node.js/npm multiple times via brew. I was up until 4am last night dealing with it, all while trying to meet a deadline. I'd love to help fix the error, but for now, I'm just doing my due diligence to report it.

It's all related to npm's "ansistyles".

After installing cordova-plugin-browse

[2018-01-14 16:56] axemclion commented on #49
If you have a PR to fix it, that would be awesome !!

[2018-01-14 16:56] #49 closed

[2018-01-23 08:27] jsakamoto opened #51 "Installation to cordova project was fail. ("Error: Cannot find module 'npm'")"
### Environment

- OS - Windows10 Pro v.10.0.16299.192
- node.js - v.8.9.3
- npm - v.5.5.1
- cordova - v.8.0.0

After `cordova create ...`, and installed "browser" and "android" platforms.

### What's happen?

When I execute the command as following,

[code]

the command reported the error as follows.

[code]

### Note

I was successes installing this plugin to the cordova project, which wasn't ad

[2018-01-24 14:51] woosungchu commented on #11
this issue still exists

[2018-01-25 15:47] axemclion commented on #51
Could you check your node_modules to see the npm modules that were installed ?

[2018-01-26 03:38] jsakamoto commented on #51
Yes, there is the npm module as ~/node_module/npm folder.

After I'm investigating this issue for few hours, I found a solution for me.

The version of npm which global installed in my pc was v.5.5.1.
But, the version of npm which project local installed by this plugin is v.5.6.0.

So  I tried to solve this issue by upgrading the npm version of global installed as following command.

[code]

After

[2018-01-26 13:18] axemclion commented on #51
I think this is great info. Can you send a PR to the README to include this info ? I am sure it would help others .

[2018-01-26 13:18] #51 closed

[2018-01-29 15:34] sualko commented on #48
Hey guys,

if you have time, please release a new version, because with the current npm package live reload on android doesn't work. If I use your github repo everything works like a charm.

[2018-01-29 18:36] 11111000000 opened #52 "Failed to install 'cordova-plugin-browsersync"
[code]

[2018-02-01 15:10] jsakamoto commented on #52
https://github.com/nparashuram/cordova-plugin-browsersync/issues/51#issuecomment-360675872

I hope this information helps you.

[2018-02-07 11:37] StefansArya commented on #8
Usually it happen because browser platform haven't being added
`cordova platform add browser`
You may need to remove it first if still happen..

Or..
Put this on the html header before any script..
`<script type="text/javascript">window.prompt = console.prompt = function(){};</script>`

[2018-02-08 08:52] mellowgrab commented on #49
Have the same problem, macOS High Sierra Version 10.13.3. Reinstalling node doesn't help. There are 20 plugins more in my project, but only this breaks the things. Bug appears after upgrading cordova to higher than 6.4.0.

node v9.4.0
npm 5.6.0

[2018-02-08 12:44] FinlayDaG33k opened #54 "Can't install cordova-plugin-browsersync"
Hii there,

I've tried installing this plugin using: `cordova plugin add cordova-plugin-browsersync`

but I get this error every single time:
[code]

Any ideas?

[2018-02-08 15:49] FinlayDaG33k commented on #54
Updating to the latest and greatest versions of NodeJS and NPM fixed this issue

[2018-02-08 15:49] #54 closed, assigned to nobody

[2018-03-04 09:21] alwaysgot200 opened #55 "this plugin doesn't work with `-- cordova@8.0.0"
hello, the author,

I tested the plugin with the latest cordova 8.0+android studio 3.0

it doesn't work

it seems the API cordova.raw.* is deprecated now ...

![2018-03-04_17-14-31](https://user-images.githubusercontent.com/9555002/36944109-744fcd58-1fd0-11e8-91d2-21e501c0fad8.png)

[2018-03-04 09:27] alwaysgot200 commented on #55
and I did set the meta label , but it doesn't work

<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: ws: 'unsafe-inline' https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">

[2018-03-04 09:27] ruixiwu commented on #55
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: ws: 'unsafe-inline' https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">

[2018-03-04 09:28] alwaysgot200 commented on #55
meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: ws: 'unsafe-inline' https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"

[2018-03-05 09:15] darkusone commented on #55
Same here...

![image](https://user-images.githubusercontent.com/21168136/36966740-0dd0564a-205e-11e8-944b-5fcc9bd3379d.png)